@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: lightgray;
    max-width: 990px;
    justify-content: center;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header {
    text-align: center;
}

header h1 {
    padding-top: 30px;
    font-size: 50px;
}

header p {
    margin-bottom: 30px;
}

.img-principal {
    text-align: center;
}

.img-principal img {
    width: 90%;
    min-width: 280px;
    background-size: cover;
    border-radius: 10px;
}

.img-principal p {
    font-style: italic;
}

.biografia {
    padding: 5px 15px;
    line-height: 30px;
}

.conquistas {
    padding: 5px 15px;
    line-height: 30px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex img {
    width: 250px;
    margin-right: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}

footer a {
    text-decoration: none;
}

@media (max-width: 880px) {
    .flex img {
        display: none;
    }
}